@charset "UTF-8";
/* CSS Document */
@import url(/css/SpoqaHanSans-kr.css);
@import url(/css/SpoqaHanSans-jp.css);

/* reset */
html, body, div, span, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  abbr, address, cite, code,  del, dfn, em, img, ins, kbd, q, samp,  small, strong, sub, sup, var,  b, i,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary,  time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align:middle; background: transparent;}

body { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

input::placeholder {
    color: #999999 !important;
}

::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #999999 !important;
}
:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #999999 !important;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #999999 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #999999 !important;
}
::placeholder { /* 파이어폭스 51+, 크롬 57+ */
   color: #999999 !important;
   opacity:  1;
}

#transbox {
    position: relative;
    background-color: #1D5EB2;
    height: 56px;
}

.footer {
    background-color: #092859;
    font-size: 12px;
}

.foot-txt {
    font-size: 12px;
    color: #999999;
}

.trans {
    background-color: #1D5DB2;
    border-radius: 0;
    border: 0px solid transparent;
    padding: 10px 10px;
    margin-bottom: 0px;
    text-align: center;
}

.trans-close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #FFDF00 !important;
    text-shadow: none;
    opacity: 100;
}

.trans-txt {
    font-size: 14px;
    color: #ffffff;
    margin-right: 16px;
}

.trans-btn {
    background-color: #FFDD21;
    font-size: 14px;
    color: #1D5EB2;
    padding: 4px 16px;
}

.trans-drop {
    margin-right: 4px;
}

.trans-dropdown {
    font-size: 14px;
    color: #666666;
}

.main-slide {
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    right: 10%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    text-align: right;
}

.main-slide-title {
    font-weight: 700;
}

.main-login {
    text-align: right;
}

.main-search-title {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.main-search-input {
    background-image: url('../images/icon_search.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    font-weight: 300;
    padding: 0 40px;
    color: #1D5EB2 !important;
    width: 432px;
    height: 48px;
    margin: auto;
    border: none;
    border-radius: 2px;
}

.main-login-magin {
    position: relative;
    margin: 0 auto;
    z-index: 100;
}

.main-icon-genre {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
}

.main-icon-box {
    padding: 32px 0;
}

.footer-logo {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 16px;
}

.footer-text {
    text-align: center;
}

.btn-login {
    font-size: 14px;
    color: #ffffff;
    padding: 4px 16px;
    margin-right: 8px;
}

.btn-login:hover {
    font-size: 14px;
    color: #ffffff;
}

.btn-join {
    font-size: 14px;
    color: #ffffff;
    padding: 4px 16px;
    background-color: #1D5EB2;
    border-color: #1D5EB2;
}


.mh-480 {
    max-height: 480px !important;
    background-size: cover;
}

.main-slide-posi {
    margin-top: -56px;
}

.main-slide-img {
    min-height: 480px;
    background-image: url('../images/daysgone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-search {
    width: 100%;
    position: absolute;
    top: 250px;
    z-index: 100;
}

.ban-main {
    position: relative;
}
